body {
  background-image: url("../IMG/kids-learning-coding-programming\ copy.jpg");
  background-size: cover;
  background-size: height:  100%;
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
}

#submit {
  border: 3px solid black;
}

#output {
  display: none;
}

#reset{
  border: 3px solid black;
}

#output {
  display: hidden;
}

.result {
  color: black;
  background-color: rgba(34, 158, 189, 0.774);
  padding: 20px;
  float: left;
  font-size: x-large;
  width: 100%;

}